xml-resources/xsd/pago10/Pagos10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:pago10="http://www.sat.gob.mx/Pagos" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI"
           xmlns:catPagos="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Pagos"
           targetNamespace="http://www.sat.gob.mx/Pagos" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI"
               schemaLocation="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI/tdCFDI.xsd"/>
    <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Pagos"
               schemaLocation="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Pagos/catPagos.xsd"/>
    <xs:element name="Pagos">
        <xs:annotation>
            <xs:documentation>Complemento para el Comprobante Fiscal Digital por Internet (CFDI) para registrar
                información sobre la recepción de pagos. El emisor de este complemento para recepción de pagos debe ser
                quien las leyes le obligue a expedir comprobantes por los actos o actividades que realicen, por los
                ingresos que se perciban o por las retenciones de contribuciones que efectúen.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Pago" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Elemento requerido para incorporar la información de la recepción de pagos.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DoctoRelacionado" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Nodo condicional para expresar la lista de documentos relacionados
                                        con los pagos diferentes de anticipos. Por cada documento que se relacione se
                                        debe generar un nodo DoctoRelacionado.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="IdDocumento" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Atributo requerido para expresar el identificador del
                                                documento relacionado con el pago. Este dato puede ser un Folio Fiscal
                                                de la Factura Electrónica o bien el número de operación de un documento
                                                digital.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="16"/>
                                                <xs:maxLength value="36"/>
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:pattern
                                                        value="([a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12})|([0-9]{3}-[0-9]{2}-[0-9]{9})"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Serie" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Atributo opcional para precisar la serie del comprobante
                                                para control interno del contribuyente, acepta una cadena de caracteres.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="25"/>
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:pattern value="[^|]{1,25}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Folio" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Atributo opcional para precisar el folio del comprobante
                                                para control interno del contribuyente, acepta una cadena de caracteres.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="40"/>
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:pattern value="[^|]{1,40}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="MonedaDR" use="required" type="pago10:c_MonedaPago">
                                        <xs:annotation>
                                            <xs:documentation>Atributo requerido para identificar la clave de la moneda
                                                utilizada en los importes del documento relacionado, cuando se usa
                                                moneda nacional o el documento relacionado no especifica la moneda se
                                                registra MXN. Los importes registrados en los atributos “ImpSaldoAnt”,
                                                “ImpPagado” e “ImpSaldoInsoluto” de éste nodo, deben corresponder a esta
                                                moneda. Conforme con la especificación ISO 4217.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="TipoCambioDR" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Atributo condicional para expresar el tipo de cambio
                                                conforme con la moneda registrada en el documento relacionado. Es
                                                requerido cuando la moneda del documento relacionado es distinta de la
                                                moneda de pago. Se debe registrar el número de unidades de la moneda
                                                señalada en el documento relacionado que equivalen a una unidad de la
                                                moneda del pago. Por ejemplo: El documento relacionado se registra en
                                                USD El pago se realiza por 100 EUR. Este atributo se registra como
                                                1.114700 USD/EUR. El importe pagado equivale a 100 EUR * 1.114700
                                                USD/EUR = 111.47 USD.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:fractionDigits value="6"/>
                                                <xs:minInclusive value="0.000001"/>
                                                <xs:whiteSpace value="collapse"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="MetodoDePagoDR" use="required" type="pago10:c_MetodoPagoPago">
                                        <xs:annotation>
                                            <xs:documentation>Atributo requerido para expresar la clave del método de
                                                pago que se registró en el documento relacionado.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="NumParcialidad" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Atributo condicional para expresar el número de
                                                parcialidad que corresponde al pago. Es requerido cuando MetodoDePagoDR
                                                contiene: “PPD” Pago en parcialidades o diferido.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:pattern value="[1-9][0-9]{0,2}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ImpSaldoAnt" use="optional" type="tdCFDI:t_Importe">
                                        <xs:annotation>
                                            <xs:documentation>Atributo condicional para expresar el monto del saldo
                                                insoluto de la parcialidad anterior. Es requerido cuando MetodoDePagoDR
                                                contiene: “PPD” Pago en parcialidades o diferido.En el caso de que sea
                                                la primer parcialidad este campo debe contener el importe total del
                                                documento relacionado.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="ImpPagado" use="optional" type="tdCFDI:t_Importe">
                                        <xs:annotation>
                                            <xs:documentation>Atributo condicional para expresar el importe pagado para
                                                el documento relacionado. Es obligatorio cuando exista más de un
                                                documento relacionado o cuando existe un documento relacionado y el
                                                TipoCambioDR tiene un valor.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="ImpSaldoInsoluto" use="optional" type="tdCFDI:t_Importe">
                                        <xs:annotation>
                                            <xs:documentation>Atributo condicional para expresar la diferencia entre el
                                                importe del saldo anterior y el monto del pago. Es requerido cuando
                                                MetodoDePagoDR contiene: “PPD” Pago en parcialidades o diferido.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Impuestos" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Nodo condicional para expresar el resumen de los impuestos
                                        aplicables cuando este documento sea un anticipo.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Retenciones" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Nodo condicional para capturar los impuestos retenidos
                                                    aplicables.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Retencion" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation>Nodo requerido para registrar la
                                                                información detallada de una retención de impuesto
                                                                específico.
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:attribute name="Impuesto" use="required"
                                                                          type="pago10:c_ImpuestoPago">
                                                                <xs:annotation>
                                                                    <xs:documentation>Atributo requerido para señalar la
                                                                        clave del tipo de impuesto retenido.
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="Importe" use="required"
                                                                          type="tdCFDI:t_Importe">
                                                                <xs:annotation>
                                                                    <xs:documentation>Atributo requerido para señalar el
                                                                        importe o monto del impuesto retenido. No se
                                                                        permiten valores negativos.
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Traslados" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Nodo condicional para capturar los impuestos
                                                    trasladados aplicables.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Traslado" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation>Nodo requerido para la información
                                                                detallada de un traslado de impuesto específico.
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:attribute name="Impuesto" use="required"
                                                                          type="pago10:c_ImpuestoPago">
                                                                <xs:annotation>
                                                                    <xs:documentation>Atributo requerido para señalar la
                                                                        clave del tipo de impuesto trasladado.
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="TipoFactor" use="required"
                                                                          type="pago10:c_TipoFactorPago">
                                                                <xs:annotation>
                                                                    <xs:documentation>Atributo requerido para señalar la
                                                                        clave del tipo de factor que se aplica a la base
                                                                        del impuesto.
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="TasaOCuota" use="required">
                                                                <xs:annotation>
                                                                    <xs:documentation>Atributo requerido para señalar el
                                                                        valor de la tasa o cuota del impuesto que se
                                                                        traslada.
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:fractionDigits value="6"/>
                                                                        <xs:minInclusive value="0.000000"/>
                                                                        <xs:whiteSpace value="collapse"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                            <xs:attribute name="Importe" use="required"
                                                                          type="tdCFDI:t_Importe">
                                                                <xs:annotation>
                                                                    <xs:documentation>Atributo requerido para señalar el
                                                                        importe del impuesto trasladado. No se permiten
                                                                        valores negativos.
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="TotalImpuestosRetenidos" use="optional" type="tdCFDI:t_Importe">
                                        <xs:annotation>
                                            <xs:documentation>Atributo condicional para expresar el total de los
                                                impuestos retenidos que se desprenden del pago. No se permiten valores
                                                negativos.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="TotalImpuestosTrasladados" use="optional"
                                                  type="tdCFDI:t_Importe">
                                        <xs:annotation>
                                            <xs:documentation>Atributo condicional para expresar el total de los
                                                impuestos trasladados que se desprenden del pago. No se permiten valores
                                                negativos.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="FechaPago" use="required" type="tdCFDI:t_FechaH">
                            <xs:annotation>
                                <xs:documentation>Atributo requerido para expresar la fecha y hora en la que el
                                    beneficiario recibe el pago. Se expresa en la forma aaaa-mm-ddThh:mm:ss, de acuerdo
                                    con la especificación ISO 8601.En caso de no contar con la hora se debe registrar
                                    12:00:00.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="FormaDePagoP" use="required" type="pago10:c_FormaPagoPago">
                            <xs:annotation>
                                <xs:documentation>Atributo requerido para expresar la clave de la forma en que se
                                    realiza el pago.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="MonedaP" use="required" type="pago10:c_MonedaPago">
                            <xs:annotation>
                                <xs:documentation>Atributo requerido para identificar la clave de la moneda utilizada
                                    para realizar el pago, cuando se usa moneda nacional se registra MXN. El atributo
                                    Pagos:Pago:Monto y los atributos TotalImpuestosRetenidos, TotalImpuestosTrasladados,
                                    Traslados:Traslado:Importe y Retenciones:Retencion:Importe del nodo Pago:Impuestos
                                    deben ser expresados en esta moneda. Conforme con la especificación ISO 4217.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="TipoCambioP" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para expresar el tipo de cambio de la moneda a la
                                    fecha en que se realizó el pago. El valor debe reflejar el número de pesos mexicanos
                                    que equivalen a una unidad de la divisa señalada en el atributo MonedaP. Es
                                    requerido cuando el atributo MonedaP es diferente a MXN.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value="6"/>
                                    <xs:minInclusive value="0.000001"/>
                                    <xs:whiteSpace value="collapse"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Monto" use="required" type="tdCFDI:t_Importe">
                            <xs:annotation>
                                <xs:documentation>Atributo requerido para expresar el importe del pago.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="NumOperacion" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para expresar el número de cheque, número de
                                    autorización, número de referencia, clave de rastreo en caso de ser SPEI, línea de
                                    captura o algún número de referencia análogo que identifique la operación que ampara
                                    el pago efectuado
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="100"/>
                                    <xs:pattern value="[^|]{1,100}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="RfcEmisorCtaOrd" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para expresar la clave RFC de la entidad emisora
                                    de la cuenta origen, es decir, la operadora, el banco, la institución financiera,
                                    emisor de monedero electrónico, etc., en caso de ser extranjero colocar
                                    XEXX010101000, considerar las reglas de obligatoriedad publicadas en la página del
                                    SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="12"/>
                                    <xs:maxLength value="13"/>
                                    <xs:pattern
                                            value="XEXX010101000|[A-Z&amp;Ñ]{3}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
                                    <xs:whiteSpace value="collapse"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="NomBancoOrdExt" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para expresar el nombre del banco ordenante, es
                                    requerido en caso de ser extranjero. Considerar las reglas de obligatoriedad
                                    publicadas en la página del SAT para éste atributo de acuerdo con el catálogo
                                    catCFDI:c_FormaPago.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="300"/>
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:pattern value="[^|]{1,300}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="CtaOrdenante" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para incorporar el número de la cuenta con la que
                                    se realizó el pago. Considerar las reglas de obligatoriedad publicadas en la página
                                    del SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="10"/>
                                    <xs:maxLength value="50"/>
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:pattern value="[A-Z0-9_]{10,50}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="RfcEmisorCtaBen" use="optional" type="tdCFDI:t_RFC_PM">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para expresar la clave RFC de la entidad
                                    operadora de la cuenta destino, es decir, la operadora, el banco, la institución
                                    financiera, emisor de monedero electrónico, etc. Considerar las reglas de
                                    obligatoriedad publicadas en la página del SAT para éste atributo de acuerdo con el
                                    catálogo catCFDI:c_FormaPago.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="CtaBeneficiario" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para incorporar el número de cuenta en donde se
                                    recibió el pago. Considerar las reglas de obligatoriedad publicadas en la página del
                                    SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="10"/>
                                    <xs:maxLength value="50"/>
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:pattern value="[A-Z0-9_]{10,50}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="TipoCadPago" use="optional" type="catPagos:c_TipoCadenaPago">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para identificar la clave del tipo de cadena de
                                    pago que genera la entidad receptora del pago. Considerar las reglas de
                                    obligatoriedad publicadas en la página del SAT para éste atributo de acuerdo con el
                                    catálogo catCFDI:c_FormaPago.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="CertPago" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional que sirve para incorporar el certificado que
                                    ampara al pago, como una cadena de texto en formato base 64. Es requerido en caso de
                                    que el atributo TipoCadPago contenga información.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:base64Binary">
                                    <xs:whiteSpace value="collapse"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="CadPago" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para expresar la cadena original del comprobante
                                    de pago generado por la entidad emisora de la cuenta beneficiaria. Es requerido en
                                    caso de que el atributo TipoCadPago contenga información.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="8192"/>
                                    <xs:whiteSpace value="collapse"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="SelloPago" use="optional">
                            <xs:annotation>
                                <xs:documentation>Atributo condicional para integrar el sello digital que se asocie al
                                    pago. La entidad que emite el comprobante de pago, ingresa una cadena original y el
                                    sello digital en una sección de dicho comprobante, este sello digital es el que se
                                    debe registrar en este campo. Debe ser expresado como una cadena de texto en formato
                                    base 64. Es requerido en caso de que el atributo TipoCadPago contenga información.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:base64Binary">
                                    <xs:whiteSpace value="collapse"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Version" use="required" fixed="1.0">
                <xs:annotation>
                    <xs:documentation>Atributo requerido que indica la versión del complemento para recepción de
                        pagos.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="c_MonedaPago">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="AED"/>
            <xs:enumeration value="AFN"/>
            <xs:enumeration value="ALL"/>
            <xs:enumeration value="AMD"/>
            <xs:enumeration value="ANG"/>
            <xs:enumeration value="AOA"/>
            <xs:enumeration value="ARS"/>
            <xs:enumeration value="AUD"/>
            <xs:enumeration value="AWG"/>
            <xs:enumeration value="AZN"/>
            <xs:enumeration value="BAM"/>
            <xs:enumeration value="BBD"/>
            <xs:enumeration value="BDT"/>
            <xs:enumeration value="BGN"/>
            <xs:enumeration value="BHD"/>
            <xs:enumeration value="BIF"/>
            <xs:enumeration value="BMD"/>
            <xs:enumeration value="BND"/>
            <xs:enumeration value="BOB"/>
            <xs:enumeration value="BOV"/>
            <xs:enumeration value="BRL"/>
            <xs:enumeration value="BSD"/>
            <xs:enumeration value="BTN"/>
            <xs:enumeration value="BWP"/>
            <xs:enumeration value="BYR"/>
            <xs:enumeration value="BZD"/>
            <xs:enumeration value="CAD"/>
            <xs:enumeration value="CDF"/>
            <xs:enumeration value="CHE"/>
            <xs:enumeration value="CHF"/>
            <xs:enumeration value="CHW"/>
            <xs:enumeration value="CLF"/>
            <xs:enumeration value="CLP"/>
            <xs:enumeration value="CNY"/>
            <xs:enumeration value="COP"/>
            <xs:enumeration value="COU"/>
            <xs:enumeration value="CRC"/>
            <xs:enumeration value="CUC"/>
            <xs:enumeration value="CUP"/>
            <xs:enumeration value="CVE"/>
            <xs:enumeration value="CZK"/>
            <xs:enumeration value="DJF"/>
            <xs:enumeration value="DKK"/>
            <xs:enumeration value="DOP"/>
            <xs:enumeration value="DZD"/>
            <xs:enumeration value="EGP"/>
            <xs:enumeration value="ERN"/>
            <xs:enumeration value="ETB"/>
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="FJD"/>
            <xs:enumeration value="FKP"/>
            <xs:enumeration value="GBP"/>
            <xs:enumeration value="GEL"/>
            <xs:enumeration value="GHS"/>
            <xs:enumeration value="GIP"/>
            <xs:enumeration value="GMD"/>
            <xs:enumeration value="GNF"/>
            <xs:enumeration value="GTQ"/>
            <xs:enumeration value="GYD"/>
            <xs:enumeration value="HKD"/>
            <xs:enumeration value="HNL"/>
            <xs:enumeration value="HRK"/>
            <xs:enumeration value="HTG"/>
            <xs:enumeration value="HUF"/>
            <xs:enumeration value="IDR"/>
            <xs:enumeration value="ILS"/>
            <xs:enumeration value="INR"/>
            <xs:enumeration value="IQD"/>
            <xs:enumeration value="IRR"/>
            <xs:enumeration value="ISK"/>
            <xs:enumeration value="JMD"/>
            <xs:enumeration value="JOD"/>
            <xs:enumeration value="JPY"/>
            <xs:enumeration value="KES"/>
            <xs:enumeration value="KGS"/>
            <xs:enumeration value="KHR"/>
            <xs:enumeration value="KMF"/>
            <xs:enumeration value="KPW"/>
            <xs:enumeration value="KRW"/>
            <xs:enumeration value="KWD"/>
            <xs:enumeration value="KYD"/>
            <xs:enumeration value="KZT"/>
            <xs:enumeration value="LAK"/>
            <xs:enumeration value="LBP"/>
            <xs:enumeration value="LKR"/>
            <xs:enumeration value="LRD"/>
            <xs:enumeration value="LSL"/>
            <xs:enumeration value="LYD"/>
            <xs:enumeration value="MAD"/>
            <xs:enumeration value="MDL"/>
            <xs:enumeration value="MGA"/>
            <xs:enumeration value="MKD"/>
            <xs:enumeration value="MMK"/>
            <xs:enumeration value="MNT"/>
            <xs:enumeration value="MOP"/>
            <xs:enumeration value="MRO"/>
            <xs:enumeration value="MUR"/>
            <xs:enumeration value="MVR"/>
            <xs:enumeration value="MWK"/>
            <xs:enumeration value="MXN"/>
            <xs:enumeration value="MXV"/>
            <xs:enumeration value="MYR"/>
            <xs:enumeration value="MZN"/>
            <xs:enumeration value="NAD"/>
            <xs:enumeration value="NGN"/>
            <xs:enumeration value="NIO"/>
            <xs:enumeration value="NOK"/>
            <xs:enumeration value="NPR"/>
            <xs:enumeration value="NZD"/>
            <xs:enumeration value="OMR"/>
            <xs:enumeration value="PAB"/>
            <xs:enumeration value="PEN"/>
            <xs:enumeration value="PGK"/>
            <xs:enumeration value="PHP"/>
            <xs:enumeration value="PKR"/>
            <xs:enumeration value="PLN"/>
            <xs:enumeration value="PYG"/>
            <xs:enumeration value="QAR"/>
            <xs:enumeration value="RON"/>
            <xs:enumeration value="RSD"/>
            <xs:enumeration value="RUB"/>
            <xs:enumeration value="RWF"/>
            <xs:enumeration value="SAR"/>
            <xs:enumeration value="SBD"/>
            <xs:enumeration value="SCR"/>
            <xs:enumeration value="SDG"/>
            <xs:enumeration value="SEK"/>
            <xs:enumeration value="SGD"/>
            <xs:enumeration value="SHP"/>
            <xs:enumeration value="SLL"/>
            <xs:enumeration value="SOS"/>
            <xs:enumeration value="SRD"/>
            <xs:enumeration value="SSP"/>
            <xs:enumeration value="STD"/>
            <xs:enumeration value="SVC"/>
            <xs:enumeration value="SYP"/>
            <xs:enumeration value="SZL"/>
            <xs:enumeration value="THB"/>
            <xs:enumeration value="TJS"/>
            <xs:enumeration value="TMT"/>
            <xs:enumeration value="TND"/>
            <xs:enumeration value="TOP"/>
            <xs:enumeration value="TRY"/>
            <xs:enumeration value="TTD"/>
            <xs:enumeration value="TWD"/>
            <xs:enumeration value="TZS"/>
            <xs:enumeration value="UAH"/>
            <xs:enumeration value="UGX"/>
            <xs:enumeration value="USD"/>
            <xs:enumeration value="USN"/>
            <xs:enumeration value="UYI"/>
            <xs:enumeration value="UYU"/>
            <xs:enumeration value="UZS"/>
            <xs:enumeration value="VEF"/>
            <xs:enumeration value="VND"/>
            <xs:enumeration value="VUV"/>
            <xs:enumeration value="WST"/>
            <xs:enumeration value="XAF"/>
            <xs:enumeration value="XAG"/>
            <xs:enumeration value="XAU"/>
            <xs:enumeration value="XBA"/>
            <xs:enumeration value="XBB"/>
            <xs:enumeration value="XBC"/>
            <xs:enumeration value="XBD"/>
            <xs:enumeration value="XCD"/>
            <xs:enumeration value="XDR"/>
            <xs:enumeration value="XOF"/>
            <xs:enumeration value="XPD"/>
            <xs:enumeration value="XPF"/>
            <xs:enumeration value="XPT"/>
            <xs:enumeration value="XSU"/>
            <xs:enumeration value="XTS"/>
            <xs:enumeration value="XUA"/>
            <xs:enumeration value="XXX"/>
            <xs:enumeration value="YER"/>
            <xs:enumeration value="ZAR"/>
            <xs:enumeration value="ZMW"/>
            <xs:enumeration value="ZWL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="c_FormaPagoPago">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="04"/>
            <xs:enumeration value="05"/>
            <xs:enumeration value="06"/>
            <xs:enumeration value="08"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="c_MetodoPagoPago">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="PUE"/>
            <xs:enumeration value="PPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="c_ImpuestoPago">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="001"/>
            <xs:enumeration value="002"/>
            <xs:enumeration value="003"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="c_TipoFactorPago">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="Tasa"/>
            <xs:enumeration value="Cuota"/>
            <xs:enumeration value="Exento"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
